# Delphi files
*.~*
*.exe
*.map
*.gex
*.local
*.identcache
*.res
*.dcu
*.dsk
*.cfg
*.dof
__history/

# other files
thumbs.db
# *.asm
*.rar
*.bak

# directory for local,private stuff
Private/
